@import 'Variables';

.authenticate-form {
  background: white;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px 15px 20px 15px;
}

.other-account-action {
  background: white;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px 15px 0 15px;
}

.other-account-action p {
  display: inline-block;
}

.form-group.with-tooltip {
  position: relative;

  #password-info-tooltip {
    position: absolute;
    top: 9px;
    right: 5px;
    z-index: 1000;
    font-size: 21px;
    color: $brand-primary-color;
  }
}

#restaurants-page {
  .react-time-picker {
    width: 100%;

    .react-time-picker__wrapper {
      border-radius: 8px;
      padding: 7px 15px;
    }
  }
}
