@import 'Variables';

#landing-page {
  height: 100vh;
  background-size: cover;
  text-align: center;
  color: #eee;

  .overlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    position: relative;
  }

  .content {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom:0px;
  }

  .btn {
    width: 200px;
    margin-bottom: 0.5em;
  }

  h1 {
    font-weight: bold;
    font-size: 75px;
    text-shadow: 3px 3px 25px #00ff00, -3px -3px 50px #ff0000;
  }
}
