@import 'Variables';

#restaurants-page {
  .search-results {
    border-right: 5px solid #000;
    padding-right: 20px;
    padding-top: 20px;
  }

  .search-summary {
    font-weight: bold;
    color: #000;
    border-bottom: 5px solid #000;
    text-align: right;
    padding-bottom: 5px;
    margin-bottom: 0;
  }

  .tab {
    border: 8px solid $brand-primary-color;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 25px;
    cursor: pointer;

    &:hover {
      background-color: #888;
    }

    p {
      margin: 0;
      color: $brand-primary-color;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 30px;
    }

    &.tab-active {
      border-bottom: none;
      background-color: #000;
    }

    &.tab-non-active {
      border-top: none;
      border-left: none;
      border-right: none;

      &:hover {
        padding-top: 8px;
        border-top: 8px solid white;
        border-radius: 0;
      }
    }
  }
}

#restaurant-profile {
  .jumbotron {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
  }

  .row.header-wrapper {
    align-items: flex-start;

    .external-link {
      margin-top: 20px;
      width: 220px;
      border-width: 3px;
    }

    .header {
      color: $brand-primary-color;
      font-size: 70px;
      padding-bottom: 0;
      text-decoration: underline;
      text-underline-position: under;

      .fas {
        font-size: 40px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .info-text {
      font-size: 21px;
    }

    .basic-info .stat-box {
      width: 100px;
      height: 100px;
      border: 8px solid $brand-primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: blue;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .left-panel {
    height: 100%;
    border-right: 5px solid $brand-primary-color;
    padding: 15px 30px 15px 40px;
    min-height: 50vh;
  }

  .middle-panel {
    padding: 15px 0;
  }

  .map-wrapper {
    border: 3px solid black;
    height: 400px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .right-panel {
    height: 100%;
    min-height: 50vh;
    border-left: 5px solid $brand-primary-color;
    padding: 15px 45px 15px 30px;
  }

  .msg-text {
    background: #eaeaea;
    padding: 30px;
    padding-top: 35px;
    border-radius: 25px;
    position: relative;
    margin-top: 25px;

    h1 {
      position: absolute;
      top: -24px;
      left: 28px;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      border-bottom: 5px solid black;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.badges {
  font-size: 24px;

  .badge {
    margin-right: 5px;
    border: 3px solid $brand-primary-color;

    &:hover {
      color: white;
      background-color: black;
      border: 3px solid black;
    }

    .fas.fa-check-square {
      color: #59b45c;
    }

    .fas.fa-times-circle {
      color: #ec2c2c;
    }
  }
}
