@import 'Variables';

.restaurant-row {
  // align-items: flex-start;

  background-color: hsl(195, 100%, 85%);

  border: 5px solid $brand-primary-color;
  width: 60%;
  padding: 1px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

  .logo-wrapper {
    border: 6px solid $brand-primary-color;
    border-radius: 50%;
    width: fit-content;

    img {
      width: 125px;
      height: 125px;
      border-radius: 50%;
    }
  }

  .top-row {
    margin-top: 10px;
  }

  .bottom-row{
    margin-top: 10px;
  }
}

.restaurant-row:hover {
  background-color: hsl(195, 100%, 75%);
}