@import 'Variables';

.restaurant-row {
  // align-items: flex-start;

  background-color: lightblue;

  border: 5px solid $brand-primary-color;
  width: fit-content;
  padding: 1px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

  .logo-wrapper {
    border: 6px solid $brand-primary-color;
    border-radius: 50%;
    width: fit-content;

    img {
      width: 125px;
      height: 125px;
      border-radius: 50%;
    }
  }

  .restaurant-name {
    text-align: left;
    margin-top: 10px;
  }
}